<%- include("header") -%>

    <body>
        <form class="body" action="/logout?_method=DELETE" method="post">
            <div class="usrname">
                <%= name %>
            </div>
            <div class="logout">
                <button type="submit" class="btn btn-dark btn-lg">Log Out</button>
            </div>
        </form>

        <div class="box" id="heading">
            <form>
                <div>
                    <div class="left"><button id="backward" onclick='getPreviousDay("<%=dayOfWeek%>")'>&#10100</button></div>
                    <div class="center">
                        <h1>
                            <%= listTitle %>
                        </h1>
                    </div>
                    <div class="right"><button id="forward" onclick='getNextDay("<%=dayOfWeek%>")'>&#10101</button></div>
                </div>
            </form>
        </div>
        <div class="clear"></div>
        <div class="box">
            <form class="formitem" action="/index" method="post">
                <%  var nli = newListItems.get(dayOfWeek); %>
                    <%  if (nli != null) { %>
                        <%  for(let i = 0; i < nli.length; i++){ %>
                            <div class="item">
                                <%  if (itemsCheckedMap.get(dayOfWeek).includes('' + i)){ %>
                                    <input type="checkbox" id="remember" onclick='onMyClick("<%=i%>")' checked>
                                    <% }else{ %>
                                        <input type="checkbox" id="remember" onclick='onYourClick("<%=i%>")'>
                                        <%} %>
                                            <p>
                                                <%= nli[i].itm %>
                                            </p>
                            </div>
                            <% } %>
                                <% } %>

                                    <input type="text" name="newItem" placeholder="A notion, idea, or plan" autocomplete="off" autofocus>
                                    <button class="button" type="submit" id="submit" value="<%=listTitle %>">&#10548;</button>
            </form>
        </div>

        <%- include("jquery") -%>
    </body>

    </html>