<%- include("header") -%>
    <%  if (kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>
        <h2>It's a
            <%=kindOfDay %>! Why are you not working?</h2>
        <%  } else{ %>
            <h2>It's a
                <%=kindOfDay %>! Why are you not working?</h2>
            <% } %>
                <div class="box" id="heading">
                    <h1>
                        <%= listTitle %>
                    </h1>
                </div>
                <div class="box">

                    <form class="formitem" action="/" method="post">
                        <%  for(let i = 0; i < newListItems.length; i++){ %>
                            <div class="item">
                                <%  if (itemsChecked.includes('' + i)){ %>
                                    <input type="checkbox" id="remember" onclick='onmyclick("<%=i%>")' checked>
                                    <% }else{ %>
                                        <input type="checkbox" id="remember" onclick='onyourclick("<%=i%>")'>
                                        <%} %>
                                            <p>
                                                <%= newListItems[i].itm %>
                                            </p>
                            </div>
                            <% } %>
                                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                                <button type="submit" name="button" value="<%=listTitle %>">+</button>
                    </form>
                </div>
                <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
                <script>
                    function onmyclick(i) {
                        $.ajax({
                            url: '/onmyclick',
                            type: 'post',
                            data: {
                                itemnumber: i
                            },
                            success: function(response) {
                                console.log(response);
                            }
                        });
                    }

                    function onyourclick(i) {
                        $.ajax({
                            url: '/onyourclick',
                            type: 'post',
                            data: {
                                itemnumber: i
                            },
                            success: function(response) {
                                console.log(response);
                            }
                        });
                    }
                </script>
                </body>

                </html>