<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <form>
                <button id="backward" onclick='getPreviousDay("<%=dayOfWeek%>")'>&#10100</button>
                <%= listTitle %>
                    <button id="forward" onclick='getNextDay("<%=dayOfWeek%>")'>&#10101</button>
            </form>
        </h1>
    </div>
    <div class="box">
        <form class="formitem" action="/" method="post">
            <%  var nli = newListItems.get(dayOfWeek); %>
                <%  if (nli != null) { %>
                    <%  for(let i = 0; i < nli.length; i++){ %>
                        <div class="item">
                            <%  if (itemsCheckedMap.get(dayOfWeek).includes('' + i)){ %>
                                <input type="checkbox" id="remember" onclick='onMyClick("<%=i%>")' checked>
                                <% }else{ %>
                                    <input type="checkbox" id="remember" onclick='onYourClick("<%=i%>")'>
                                    <%} %>
                                        <p>
                                            <%= nli[i].itm %>
                                        </p>
                        </div>
                        <% } %>
                            <% } %>

                                <input type="text" name="newItem" placeholder="A notion, idea, or plan" autocomplete="off">
                                <button type="submit" id="button" value="<%=listTitle %>">&#128578</button>
        </form>
    </div>

    <%- include("jquery") -%>
        </body>

        </html>