<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <form>
                <button id="backward" onclick='getPreviousDay("<%=dayOfWeek%>")'>&lt;</button>
                <%= listTitle %>
                    <button id="forward" onclick='getNextDay("<%=dayOfWeek%>")'>&gt;</button>
            </form>
        </h1>
    </div>
    <div class="box">
        <form class="formitem" action="/" method="post">
            <%  var nli = newListItems.get(dayOfWeek); %>
                <%  if (nli != null) { %>
                    <%  for(let i = 0; i < nli.length; i++){ %>
                        <div class="item">
                            <%  if (itemsChecked.includes('' + i)){ %>
                                <input type="checkbox" id="remember" onclick='onMyClick("<%=i%>")' checked>
                                <% }else{ %>
                                    <input type="checkbox" id="remember" onclick='onYourClick("<%=i%>")'>
                                    <%} %>
                                        <p>
                                            <%= nli[i].itm %>
                                        </p>
                        </div>
                        <% } %>
                            <% } %>
                                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                                <button type="submit" name="button" value="<%=listTitle %>">+</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script>
        function onMyClick(i) {
            $.ajax({
                url: '/onMyClick',
                type: 'post',
                data: {
                    itemNumber: i
                },
                success: function(response) {
                    console.log(response);
                }
            });
        }

        function onYourClick(i) {
            $.ajax({
                url: '/onYourClick',
                type: 'post',
                data: {
                    itemNumber: i
                },
                success: function(response) {
                    console.log(response);
                }
            });
        }

        function getNextDay(dayOfWeek) {
            $.ajax({
                url: '/nextDay',
                type: 'post',
                data: {
                    nextDay: dayOfWeek
                },
                success: function(response) {
                    console.log(response);
                }
            });
        };

        function getPreviousDay(dayOfWeek) {
            $.ajax({
                url: '/previousDay',
                type: 'post',
                data: {
                    previousDay: dayOfWeek
                },
                success: function(response) {
                    console.log(response);
                }
            });
        };
    </script>
    </body>

    </html>